<div  class="main_categorie_box">
    <div class="up">
        <img src="/assets/{{categorieInfo['Pic']}}">
    </div>
    <div class="down">
        <h1> {{categorieInfo['Name']}} </h1>
        <div class="controls">
            <button type="button" (click)="delete_cat()" class="btn btn-danger">حذف</button>
            <button type="button" (click)="editClick()" class="btn btn-warning">تعديل</button>
            <button *ngIf="categorieInfo.visible" (click)="edit_visible()" type="button" class="btn btn-info">اخفاء</button>
            <button *ngIf="!categorieInfo.visible"  (click)="edit_visible()" type="button" class="btn btn-primary">اظهار</button>
        </div>
    </div>
    <div *ngIf="edit==true" class="edit_main_box">
        
        <h1 class="edit_text">تعديل التصنيف :{{categorieInfo.Name}}</h1>
        <form #f="ngForm" (ngSubmit)="onSubmitform(f)">
            <div class="form-row">
                <input name="catName" type="text" value="{{categorieInfo.Name}}" [formControl]="Catname" >
                <label for="cat_name">اسم التصنيف</label>
            </div>
            <div class="form-row">
                <input name="myFile" type="file" [formControl]="Pic"   (change)="fileEvent($event)">

                <label for="cat_name">الصورة</label>
            </div>
            <div class="form-button">
                <button    class="btn btn-success">حفظ التعديلات</button>
            </div>

        </form>
    </div>
</div>

