    <!-- Footer -->
    <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-snapchat"></i>
        <i class="fab fa-pinterest"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
        <p class="w3-medium">Powered by <a href="https://facebook.com/mohamadhaseee" target="_blank" class="w3-hover-text-green">mohamad nasser</a></p>
      <!-- End footer -->
      </footer>